*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    background-image: url(/images/roses_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    display: flex;
}

#logo{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}


#imgLogo{
    position: relative;
    max-width: 80px;
    margin-right: 30px;
}

#linkLogo{
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Bowlby One SC', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#menu{
    position: relative;
    display: flex;
    gap: 20px;
}

#menu li{
    list-style: none;    
}

#menu li a{
    display: inline-block;
    color: black;
    font-weight: 400;
    padding: 20px;
    text-decoration: none;
}


main{
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    flex-grow: 1;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

main #textBox{
    position: relative;
    max-width: 400px;
}

main #textBox h2{
    color: black;
    font-size: 3em;
    line-height: 1.3em;
    font-weight: 500;    
}

main #textBox h2 #feelings{
    color: #E3170A;
    font-size: 1.2em;
    font-weight: 900;
}

main #textBox p{
    color: black;
    margin: 20px 0; 
    text-align: justify;   
}

main #textBox a{
    display: inline-block;
    padding: 8px 20px;
    background: black;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

#boardFlower{
    display: grid;
    position: relative;
    flex-grow: 1;
    place-items: center;
}

#containerWord{
    position: absolute;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 450px;
    margin-right: 180px;
    z-index: 2;
}

#word{
    color: #E3170A;
}

#word span{
    position: absolute;
    height: 280px;
    width: 150px;
    transform-origin: bottom center;
}


#flowers{
    width: 330px;
    height: 330px;
    border-radius: 50%;
    position: absolute;
    background-image: url(/images/roses.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 1em black;
    border-style: solid;
    border-width: 30px;
    border-color: white;
    z-index: 1;
}

#flowersBg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    background-image: url(/images/roses_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 1em black;
    z-index: 0;
    margin-top: 200px;
    margin-left: 200px;
}

#rose:hover{
    background-color: rgba(227, 23, 10, 0.6);    
}

#lily:hover{
    background-color: rgba(255, 212, 71, 0.6);    
}

#iris:hover{
    background-color: rgba(168, 130, 221, 0.6);    
}

#begonia:hover{
    background-color: rgba(233, 79, 55, 0.6);    
}

#socialMedia{
    position: fixed;
    right: 20px;
    min-width: 20px;
}

#socialMedia ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#socialMedia ul li{
    list-style: none;
}

#thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

#thumb li{
    list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.2s;
}