*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    background-image: url(/images/begonia_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    display: flex;
}

#logo{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}


#imgLogo{
    position: relative;
    max-width: 80px;
    margin-right: 30px;
}

#linkLogo{
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Bowlby One SC', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#menu{
    position: relative;
    display: flex;
    gap: 20px;
}

#menu li{
    list-style: none;    
}

#menu li a{
    display: inline-block;
    color: black;
    font-weight: 400;
    padding: 20px;
    text-decoration: none;
}


main{
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    flex-grow: 1;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

main #textBox{
    position: relative;
    max-width: 400px;
}

main #textBox h2{
    color: black;
    font-size: 3em;
    line-height: 1.3em;
    font-weight: 500;    
}

main #textBox h2 span{
    color: #e94f37;
    font-size: 1.2em;
    font-weight: 900;
}

main #textBox p{
    color: black;
    margin: 20px 0; 
    text-align: justify;   
}

main #textBox a{
    display: inline-block;
    padding: 8px 20px;
    background: black;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

#boardFlower{
    position: relative;
    max-width: 450px;
}

#boardFlower ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#boardFlower ul li{
    list-style: none;
}

#boardFlower ul #word div{
    margin: auto;
    margin-right: 0;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: white;
    font-size: 2em;
    font-weight: 400;
    color: #e94f37;
    box-shadow: 0 0 1em black;
    text-align: center;
    line-height: 110px;
}

#boardFlower ul #flowers div{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-image: url(/images/begonia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 1em black;    
}

#boardFlower ul #flowersBg div{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-image: url(/images/begonia_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1em black;
    text-align: center;
}

#socialMedia{
    position: relative;
    width: 20px;
}

#socialMedia ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#socialMedia ul li{
    list-style: none;
}